#menutitle{
	margin-top:15px;
}

.middle-button{
	text-align:center;
	margin-top: 15px;
}

#vgreeting{
	margin-top:15px;
}
#cwgreeting{
	margin-top:15px;
}

.changewords-btn{
	text-align: center;
	margin-top: 15px;	
}

.happymood-btn{
	text-align: center;
	margin-top:15px
}

#tgreeting{
	margin-top:15px;
}