#menutitle{
	margin-top:15px;
	font-size: 1.5em;
}

#mainpage{
	margin-top: 15px;
}

#vgreeting{
	margin-top:15px;
}

.vmiddle-container{
	text-align:center;
	margin-top: 15px;
}

#cwgreeting{
	margin-top:15px;
}

.cwmiddlebtn-container{
	text-align: center;
	margin-top: 15px;	
}

.mmiddlebtn-container{
	text-align: center;
	margin-top:15px
}

#tgreeting{
	margin-top:15px;
}

.tonbtn-container{
	text-align: center;
	margin-top: 15px;
}

.toffbtn-container{
	text-align: center;
	margin-top: 15px;
}